{% extends "base.html" %}
{% load static %}

{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Algoritmo Apriori</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Reglas de asociación</li>
                        </ol>
                        {% if data and file_name %}
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    Muestra de {{ file_name }}
                                </div>
                                <div class="card-body">
                                    <table id="datatablesSimple">
                                        {% for row in data %}
                                            {% if forloop.first %} <!-- header de la tabla-->
                                                <thead>
                                                    <tr>
                                                {% for col in row %}
                                                        <th>{{ col }}</th>
                                                {% endfor %}    
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                {% for col in row %}
                                                        <th>{{ col }}</th>
                                                {% endfor %}    
                                                    </tr>
                                                </tfoot>
                                            {% elif forloop.counter == 2  %} <!-- poner tbody-->
                                                <tbody>
                                                    <tr>
                                                {% for col in row %}
                                                        <td>{{ col }}</td>        
                                                {% endfor %}
                                                    </tr>
                                            {% else %} <!-- informacion extra -->
                                                    <tr>
                                                {% for col in row %}
                                                        <td>{{ col }}</td>        
                                                {% endfor %}
                                                    </tr>
                                            {% endif %}
                                                
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        {% endif %}
                        <h3>Exploración</h3>
                        {% if frecuency_table %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Tabla de frecuencias
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    {% for row in frecuency_table %}
                                        {% if forloop.first %} <!-- header de la tabla-->
                                            <thead>
                                                <tr>
                                            {% for col in row %}
                                                    <th>{{ col }}</th>
                                            {% endfor %}    
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                            {% for col in row %}
                                                    <th>{{ col }}</th>
                                            {% endfor %}    
                                                </tr>
                                            </tfoot>
                                        {% elif forloop.counter == 2  %} <!-- poner tbody-->
                                            <tbody>
                                                <tr>
                                            {% for col in row %}
                                                    <td>{{ col }}</td>        
                                            {% endfor %}
                                                </tr>
                                        {% else %} <!-- informacion extra -->
                                                <tr>
                                            {% for col in row %}
                                                    <td>{{ col }}</td>        
                                            {% endfor %}
                                                </tr>
                                        {% endif %}
                                            
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}

                        {% if image_frecuency_url %}
                        <div>
                            <img src="{% static 'assets/img/simulations/' %}{{image_frecuency_url}}" class="img-fluid" alt="Barra de frecuencias">
                        </div>
                            
                        {% endif %}
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </main>
{% endblock %}