{% extends "base.html" %}
{% load static %}

{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Algoritmo Apriori</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Reglas de asociación</li>
                        </ol>
                        {% if data and file_name %}
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    Muestra de {{ file_name }}
                                </div>
                                <div class="card-body">
                                    <table id="datatablesSimple">
                                        {% for row in data %}
                                            {% if forloop.first %} <!-- header de la tabla-->
                                                <thead>
                                                    <tr>
                                                {% for col in row %}
                                                        <th>{{ col }}</th>
                                                {% endfor %}    
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                {% for col in row %}
                                                        <th>{{ col }}</th>
                                                {% endfor %}    
                                                    </tr>
                                                </tfoot>
                                            {% elif forloop.counter == 2  %} <!-- poner tbody-->
                                                <tbody>
                                                    <tr>
                                                {% for col in row %}
                                                        <td>{{ col }}</td>        
                                                {% endfor %}
                                                    </tr>
                                            {% else %} <!-- informacion extra -->
                                                    <tr>
                                                {% for col in row %}
                                                        <td>{{ col }}</td>        
                                                {% endfor %}
                                                    </tr>
                                            {% endif %}
                                                
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <h2>Exploración</h2>
                        <hr>                            
                        {% endif %}

                        
                        {% if frecuency_table %}
                        <h3>Tabla de frecuencias</h3>
                        <br>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Tabla de frecuencias
                            </div>
                            <div class="card-body">
                                <table id="datatableFrecuency">
                                    {% for row in frecuency_table %}
                                        {% if forloop.first %} <!-- header de la tabla-->
                                            <thead>
                                                <tr>
                                            {% for col in row %}
                                                    <th>{{ col }}</th>
                                            {% endfor %}    
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                            {% for col in row %}
                                                    <th>{{ col }}</th>
                                            {% endfor %}    
                                                </tr>
                                            </tfoot>
                                        {% elif forloop.counter == 2  %} <!-- poner tbody-->
                                            <tbody>
                                                <tr>
                                            {% for col in row %}
                                                    <td>{{ col }}</td>        
                                            {% endfor %}
                                                </tr>
                                        {% else %} <!-- informacion extra -->
                                                <tr>
                                            {% for col in row %}
                                                    <td>{{ col }}</td>        
                                            {% endfor %}
                                                </tr>
                                        {% endif %}
                                            
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if image_frecuency_url %}
                        <h3>Imagen de frecuencias</h3>
                        <div>
                            <img src="{% static 'assets/img/simulations/' %}{{image_frecuency_url}}" class="img-fluid" alt="Barra de frecuencias">
                        </div>
                        {% endif %}
                        {% if data and file_name %}
                        <h2>Aplicación del algoritmo</h2>
                        <hr>
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row g-3">
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" id="inputGroup-min-support">Soporte mínimo</span>
                                    <input type="number" class="form-control" name="min_support" step="0.0001" aria-label="Sizing example input" aria-describedby="inputGroup-min-support" value="0.01">
                                </div>
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" id="inputGroup-min-confidence">Confianza mínima</span>
                                    <input type="number" class="form-control" name="min_confidence" step="0.0001" aria-label="Sizing example input" aria-describedby="inputGroup-min-confidence" value="0.3">
                                </div>
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" id="inputGroup-min-lift">Elevación</span>
                                    <input type="number" class="form-control" name="min_lift" step="0.0001" aria-label="Sizing example input" aria-describedby="inputGroup-min-lift" value="2">
                                </div>    
                            </div>
                            <div class="w-50 mx-auto">
                                <button type="submit" class="form-control btn btn-primary mb-3">Generar modelo</button>
                            </div>
                        </form>
                        {% endif %}
                        {% if lista_rules %}
                        <h2 class="mt-5">Lista de reglas de asociación</h2>
                        <hr>
                        <div class="row row-cols-1 row-cols-md-4 g-4 my-5">
                            {% for rule in lista_rules %}
                            <div class="col">
                                <div class="card bg-light">
                                    <div class="card-body">
                                    <h5 class="card-title">Regla {{ forloop.counter }}</h5>
                                    <p class="card-text">{{ rule.regla }}</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Soporte: <span class="badge bg-secondary text-light">{{rule.soporte}}</span> </li>
                                        <li class="list-group-item">Confianza: <span class="badge bg-info text-dark">{{rule.confianza}}</span></li>
                                        <li class="list-group-item">Lift: <span class="badge bg-warning text-dark">{{rule.lift}}</span></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                                             
                    </div>
                </main>
{% endblock %}