{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Yogue</title>
        <link rel="icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style-checkbox.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        {% block head-content %} {% endblock %}


    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{% url 'algoritmos:index' %}">
                <img src="{% static 'assets/img/favicon-32x32.png' %}" alt="" width="24" height="24">
                Yogue
            </a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Data</div>
                            <a class="nav-link" href="{% url 'algoritmos:upload' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-file-upload"></i></div>
                                Subir archivos
                            </a>
                            <div class="sb-sidenav-menu-heading">Algoritmos</div>
                            <a class="nav-link" href="{% url 'algoritmos:apriori' %}">
                                <div class="sb-nav-link-icon"><i class="far fa-object-group"></i></div>
                                Algoritmo Apriori
                            </a>
                            <a class="nav-link" href="{% url 'algoritmos:distancias' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Metricas de distancia
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-th-large"></i></div>
                                Clustering
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'algoritmos:cluster_jerarquico' %}">Jerárquico(Ascendente)</a>
                                    <a class="nav-link" href="{% url 'algoritmos:cluster_particional' %}">Particional (K-means)</a>
                                </nav>
                            </div>
                            <a class="nav-link" href="{% url 'algoritmos:clasif_rlog' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                                Clasificacion con R. Logistica
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseArboles" aria-expanded="false" aria-controls="collapseArboles">
                                <div class="sb-nav-link-icon"><i class="fas fa-tree"></i></div>
                                Arboles de decisión
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseArboles" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'algoritmos:a_pronostico' %}">Pronóstico</a>
                                    <a class="nav-link" href="{% url 'algoritmos:a_clasif' %}">Clasificación</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Usuario Final</div>
                            <a class="nav-link" href="{% url 'algoritmos:prediccion' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Predicciones
                            </a>
                          
                        </div>
                    </div>

                </nav>
            </div>
            <div id="layoutSidenav_content">
                
                {% block content %}<!--- CONTENIDO DE CADA PÁGINA --> {% endblock %}



                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Yogue 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% load static %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
        <script src="{% static 'js/mdboostrap_code.js' %}"></script>

    </body>
</html>
