{% extends "base.html" %}
{% load static %}
{% block content %}
                <main>
                    <div class="">
                        <header class="masthead d-flex align-items-center">
                            <div class="container px-4 px-lg-5 text-center">
                                <h1 class="mb-1">Yogue</h1>
                                <h3 class="mb-5"><em>La cooperación perfecta entre IA y humanos</em></h3>
                                <a class="btn btn-primary btn-xl" href="{% url 'algoritmos:upload' %}">Empieza ahora</a>
                            </div>
                        </header>
                    </div>
                </main>
{% endblock %}