{% extends "base.html" %}
{% load static %}

{% block content %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Subir información</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Favor de subir un archivo csv con datos</li>
                        </ol>
                        <!-- formulario -->
                        {% if not file_uploaded %}
                            <h3 class="display-6">Subir datos para analizar</h1>
                        {% else %}
                            <h3 class="display-6">Ya se ha subido el archivo: {{ file_uploaded }}</h1>
                        {% endif %}
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="row">
                                {% if fileStatus and fileStatus == "success"  %}
                                    <div class="alert alert-success" role="alert">
                                        Subido existosamente
                                    </div>
                                {% else %}
                                    <div class="col mb-3">
                                        {% if form %}
                                         <div class="mb-3">
                                            {% if not file_uploaded %}
                                                <input class="form-control" type="file" id="id_document" accept=".csv" name="document" required>
                                            {% else %}
                                                <input class="form-control" type="file" id="id_document" accept=".csv" name="document" disabled>
                                            {% endif %}
                                          </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-2 mb-3">
                                        {% if not file_uploaded %}
                                            <button type="submit" class="form-control btn btn-primary">Subir archivo</button>
                                        {% else %}
                                            <button type="submit" class="form-control btn btn-primary" disabled>Subir archivo</button>
                                        {% endif %}
                                    </div>    
                                {% endif %}                                
                            </div>
                            {% if fileStatus and fileStatus == "fail" %}
                            <div class="row">
                                <div class="alert alert-danger" role="alert">
                                    Ocurrió un error, por favor trata de subirlo nuevamente
                                 </div>     
                            </div>
                            {% endif %}
                        </form>
                        {% if file_uploaded or fileStatus == "success"  %}
                            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="d-none">
                                    <input class="form-check-input" type="radio" name="delete" checked>
                                </div>
                                <div class="w-50 mx-auto">
                                    <button type="submit" class="form-control btn btn-warning mb-3">Subir otro archivo</button>
                                </div>
                                
                            </form>
                        {% endif %}
                        {% if file_uploaded and data  %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                {{file_uploaded}}
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    {% for row in data %}
                                        {% if forloop.first %} <!-- header de la tabla-->
                                            <thead>
                                                <tr>
                                            {% for col in row %}
                                                    <th>{{ col }}</th>
                                            {% endfor %}    
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                            {% for col in row %}
                                                    <th>{{ col }}</th>
                                            {% endfor %}    
                                                </tr>
                                            </tfoot>
                                        {% elif forloop.counter == 2  %} <!-- poner tbody-->
                                            <tbody>
                                                <tr>
                                            {% for col in row %}
                                                    <td>{{ col }}</td>        
                                            {% endfor %}
                                                </tr>
                                        {% else %} <!-- informacion extra -->
                                                <tr>
                                            {% for col in row %}
                                                    <td>{{ col }}</td>        
                                            {% endfor %}
                                                </tr>
                                        {% endif %}
                                            
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </main>
{% endblock %}